<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
{% load static %}
<html lang="en_US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Puddle Jumper</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/drop_icon.png' %}"/>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</body>
</html>